.p-toast.p-toast-top-right {
  z-index: 1000;
  top: 7rem;
}
// theme selectors
// https://github.com/primefaces/primevue-sass-theme/tree/main/themes
// @import 'primevue/resources/themes/lara-dark-indigo/theme.css'; // default theme

@import 'primevue/resources/themes/aura-light-indigo/theme.css'; // light theme
// @import 'primevue/resources/themes/aura-dark-indigo/theme.css'; // dark theme
@import '~primevue/resources/primevue.min.css'; // core css
@import '~primeicons/primeicons.css'; // icons
@import '~primeflex/primeflex.min.css'; // flex
@import './layout';

*::-webkit-scrollbar {
  width: 0.75em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// *::-webkit-scrollbar-thumb {
//   background-color: rgba(0, 0, 0, 0.68);
//   outline: 1px solid rgba(0, 0, 0, 0.68);
// }

.layout-sidebar::-webkit-scrollbar,
.layout-sidebar::-webkit-scrollbar-track,
.layout-sidebar::-webkit-scrollbar-thumb {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
